@charset "UTF-8";

body {
  font-size: 2.4vh;
}

section {
  /* flex-direction: column; */
}

.heading, .name {
  font-size: 4vh;
}

#aboutlink {
  display: block;
}

.container {
  padding: 5% 7% 0 5%;
}

/* from about/index.html */
.link {
  position: absolute;
  margin: 1vh 0;
  display: block;
}


.klepa {
  width: auto;
  height: 80%;
}

/* grid adjustments */

section {
  flex-direction: column;
}

section .container {
  width: 100%;
  border: solid 1px;
  height: 30vh;
}

.descr {
  max-width: 90vw;
}

#container2 .descr {
  max-width: 50%;
}
