@charset "UTF-8";
@import url("https://use.typekit.net/ron3wep.css");
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

* {
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100%;
	font-family: "Karla";
	font-weight: 400;
	font-style: normal;
	font-size: 3vh;
	margin: 0;
}

.main {
	height: 100vh;
}

a {
	cursor: pointer;
}

.heading, .name {
	font-size: 6vh;
	font-weight: 400;
}

.heading:hover {
	text-decoration: none;
}

.name {
	color: magenta;
	width: 30vw;
}

.klepa {
	position: absolute;
	right: 3%;
	bottom: 0;
	margin: 0;
	padding: 0;
	display: none;
	max-width: 30%;
}

.name:hover ~ .klepa {
	display: block;
}

.link {
	position: absolute;
	top: 4%;
	right: 4%;
	font-size: 4vh;
}

.activelink {
	color: magenta;
}

.link:hover{
	color:black;
}

.activelink:hover {
	text-decoration: none;
}

#aboutlink {
	top: 16%;
}

#homelink {
	display: none;
}

#homelink:hover {
	color: magenta;
}

.transcription {
	display: block;
	opacity: .5;
}

#descriptionofme {
	margin-top: 2vh;
	width: 70%;
}

section {
	display: flex;
	flex-wrap: wrap;
}

.container {
	width: 50%;
	height: 50vh;
	border: solid 2px;
	padding: 1vh 1vw;
	overflow: hidden;
	position: relative;
}

.container .project {
	display: block;
	padding: .3vw 0;
	/* text-decoration: underline; */
}

.container .project:hover{
	/* text-decoration-color: #BCC4DB; */
	text-decoration: none;
}

section a {
	color: black;
	text-decoration: none;
}

section a:hover {
	color: magenta;
	text-decoration: underline;
}

.projectlist, .hiddenproject {
	/* margin: 1vw 2vw; */
	display: block;
}

.prjarrow {
	display: none;
}

.projectlist .project:hover .prjarrow {
	display: inline;
}

.hiddenproject {
	font-size: 4vh;
}

.descr {
	max-width: 40vw;
	font-size: 4vh;
	line-height: 130%;
	padding: 0;
	margin: 0;
}

#cont1descr {
	width: 70%;
	position: absolute;
	bottom: 2vh;
}

#cont2descr {
	position: absolute;
	bottom: 2vh;
}

.contnarrowed {
	position: absolute;
	bottom: 2vh;
}

.project {
	color: black;
	text-decoration: none;
}

.project:hover {
	color: magenta;
}

.antiqua {
	font-family: century-old-style-std, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 3vh;
	color: #BCC4DB;
}

.ps {
	color: blue;
}

.p5 {
	color: #EE4266;
}

.dh {
	color: #1B998B;
}

.js {
	color: #FC440F;
}

.pr {
	color: #1F23AD;
}

.gd {
	color: #9400D3;
}

.worktype_descr {
	/* padding: 3vw 0; */
}

/* .hiddenproject {
	margin-top: 10vh;
} */

img {
	position: absolute;
	right: 2%;
	bottom: 2%;
	margin: 0;
	padding: 0;
}

#imagediv {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(transparent 11px, rgba(220,220,200,.8) 12px, transparent 12px), linear-gradient(90deg, transparent 11px, rgba(220,220,200,.8) 12px, transparent 12px);
	background-size: 100% 20px, 20px 100%;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
}

.hide {
	display: none;
}

/* ANIMATED GRAPHIC PLACEMENT */

#cursor {
	position: absolute;
	bottom: 2%;
	right: 3%;
	z-index: 10;
	animation: backandforth 6s infinite;
}

#bikehamster {
	animation: forward 4s infinite linear;
}

#stars {
	bottom: 4%;
	right: 6%;
}

.mashup_masters1 {
	animation: chaoticmovement1 8s infinite linear;
}

.mashup_masters2 {
	animation: chaoticmovement2 7s infinite linear;
}

.mashup_masters3 {
	animation: chaoticmovement3 6s infinite linear reverse;
}

#piano {
	right: 10%;
}

#star_piano1 {
	bottom: 45%;
	right: 28%;
	animation: rotate 6s infinite linear;
}
#star_piano2 {
	bottom: 60%;
	right: 8%;
	animation: rotate 5s infinite linear;
}
#star_piano3 {
	bottom: 55%;
	right: 50%;
	animation: rotate 3s infinite linear;
}

.harlem {
	height: 50vh;
	width: auto;
	/* right: 10%; */
	right: 0;
	bottom: 0;
	padding: 0;
	margin: 0;
}

#box {
	animation: falling 2s linear infinite;
}

/* ANIMATION */
@keyframes backandforth {
	0% {right: 3%;}
	50% {right: 35%;}
	100% {right: 3%;}
}

@keyframes forward {
	0% {right: -10%;}
	100% {right: 100%;}
}

@keyframes rotate {
	100% {transform: rotate(-360deg);}
}

@keyframes falling {
	0% {bottom: 100%;}
	100% {bottom: -40%;}
}

@keyframes chaoticmovement1 {
	0% {right: -5%; bottom: 20%;}
	25% {right: 25%; bottom: 70%;}
	50% {right: 80%; bottom: 30%;}
	75% {right: 50%; bottom: -10%;}
	100% {right: 0%; bottom: 20%;}
}

@keyframes chaoticmovement2 {
	0% {right: 90%; bottom: 60%;}
	25% {right: 75%; bottom: -15%;}
	50% {right: -5%; bottom: 20%;}
	75% {right: 40%; bottom: 70%;}
	100% {right: 90%; bottom: 60%;}
}

@keyframes chaoticmovement3 {
	0% {right: 45%; bottom: -10%;}
	25% {right: -5%; bottom: 45%;}
	50% {right: 40%; bottom: 85%;}
	75% {right: 85%; bottom: 50%;}
	100% {right: 45%; bottom: -10%;}
}
