@charset "UTF-8";

body {
  font-size: 2.5vh;
}

section {
  /* flex-direction: column; */
}

.heading, .name {
  font-size: 4vh;
}

/* from about/index.html */
.link {
  position: absolute;
  font-size: 1em;
  margin: 1vh 0;
  display: block;
}


.klepa {
  width: auto;
  height: 95%;
}

/* grid adjustments */

section {
  flex-direction: column;
}

section .container {
  width: 100%;
  border: solid 1px;
  height: 30vh;
}

.descr {
  max-width: 90vw;
}
