@charset "UTF-8";

body {
  font-size: 2.2vh;
}

section {
  /* flex-direction: column; */
}

.heading, .name {
  font-size: 4vh;
}

/* from about/index.html */
.link {
  position: static;
  font-size: 3vh;
  margin: 1vh 0;
  display: block;
}

#homelink {
  font-size: 3vh;
}

.descr {
  max-width: 46vw;
}

#descriptionofme {
  width: 46vw;
}

.klepa {
  max-width: 45vw;
}

.contactinfo a, .contactinfo span {
  font-size: 2.2vh;
}
