@charset "UTF-8";
@import url("https://use.typekit.net/ron3wep.css");
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

* {
	box-sizing: border-box;
}

body {
	width: 100%;
	font-family: "Karla";
	font-weight: 400;
	font-style: normal;
	font-size: 3vh;
	margin: 0;
}

a {
  text-decoration: none;
}

.outerpageborder {
  position: fixed;
  z-index: -10;
  border: solid 2px;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
}

.main {
  /* height: 100vh;
  overflow: scroll; */
  padding-bottom: 8vh;
}

.topnames {
  padding: calc(1vh + 2px) calc(1vw + 2px);
  display: flex;
  justify-content: space-between;
}

.lefttop {
  display: flex;
  flex-direction: column;
}

.name {
  color: black;
  text-decoration: none;
}

.name:hover {
  text-decoration: none;
}

#homelink, #morePrjLink {
  color: #BCC4DB;
  text-decoration: none;
  font-size: 4vh;
  cursor: pointer;
}

#homelink:hover, #morePrjLink:hover {
  text-decoration: underline;
}

.heading, .name {
	font-size: 6vh;
	font-weight: 400;
}

.heading {
  color: magenta;
  cursor: pointer;
}

.headingup {
	/* animation: rotatearrow 3s; */
	transform: rotate(-90deg);
}

.headingdown {
	/* animation: rotatearrow 3s; */
	transform: rotate(90deg);
}

/* .heading a {
  display: block;
} */

.downarrow {
	display: inline-block;
}

.otherprojectlinks {
  text-align: right;
}

.projectcontainer {
  max-width: 900px;
  margin: auto;
}

video, img {
  width: 100%;
  margin: 4vh 0 0 0;
  /* max-width: 100vw; */
}

.videocont {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.extlink {
  color: magenta;
  font-size: 4vh;
  float: right;
  text-decoration: none;
  clear: both;
}

.doubleextlink {
	float: right;
	display: block;
	clear: both;
	font-size: 4vh;
}

.doubleextlink a {
	color: magenta;
}


.extlink::after, .doubleextlink::after {
  clear: both;
}

.project {
  color: black;
  font-size: 3vh;
  padding: 1vh 0;
}

a:hover {
  text-decoration: underline;
}

.smallerh {
  color: #BCC4DB;
  font-size: 4vh;
}

h4 {
  margin: 5.5vh 0 2vh 0;
}

.text {
  margin-top: 8vh;
  margin-bottom: 2vh;
  clear: both;
}

p, ul, li {
  line-height: 150%;
}

.projectlist {
  display: flex;
  flex-direction: column;
}

.hiddenprojectlist {
  display: none;
}


#longimgdiv {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  border: solid 2px;
  height: 50vh;
  margin: 8vh 0 2vh 0;
}

#longimg {
  margin-top: 0;
  height: 100%;
  width: auto;
}

#verticalimgdiv {
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  border: solid 2px;
  height: 70vh;
  margin: 8vh 0 2vh 0;
}

#verticalimgdiv img {
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  height: auto;
}

ol li {
	padding-bottom: 3%;
}

.fiveimgscontainer {
	display: flex;
}

.fiveimgscontainer img {
	width: 20%;
	height: auto;
}

.singleimagecontainer {
	display: flex;
	align-items: center;
}

.singleimagecontainer img {
	width: 50%;
	display: block;
}

/* .horizontalline {
	border: none;
	height: 5vh;
	display: block;
	position: absolute;
	z-index: 1000;
    border-bottom: 3px solid black;
} */

hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;
  background-color:#BCC4DB;
  height: 2px;
}

.ps {
	color: blue;
}

.p5 {
	color: #EE4266;
}

.dh {
	color: #1B998B;
}

.js {
	color: #FC440F;
}

.pr {
	color: #1F23AD;
}

.gd {
	color: #9400D3;
}

.periwinkle {
  color: #BCC4DB;
}

@media only screen and (max-width:900px) {
  body {
    font-size: 2.2vh;
  }

  .main {
    padding: .5vh 1vh;
  }

  .topnames {
    padding: 0;
  }

  .lefttop, .otherprojectlinks {
    width: 50%;
    /* border: solid; */
  }

  .name, .heading {
    font-size: 4vh;
  }

  #homelink, #morePrjLink {
    font-size: 2.2vh;
  }

  .topnames {
    display: block;
  }

  .lefttop {
    float: left;
  }

  .otherprojectlinks {
    float: right;
    text-align: right;
    position: relative;
  }

  .projectcontainer {
    clear: both;
    margin-top: 20vh;
    margin-bottom: 8vh;
  }

  .project {
    font-size: 2.2vh;
    /* padding: 1vh 0; */
  }

}

@keyframes rotatearrow {
	0% {transform: rotate(-90deg);}
	100% {transform: rotate(-90deg);}
}
