@charset "UTF-8";

.heading {
  font-size: 5vh;
}

body {
  font-size: 2.5vh;
}

.container {
  padding: 1vh 2vw;
}

.link {
  position: static;
  font-size: 3vh;
  margin: 1vh 0;
  display: block;
}

.descr {
  font-size: 2.5vh;
  line-height: 140%;
}

#descriptionofme {
  width: 46vw;
}

#homelink {
  position: absolute;
  top: 2%;
  margin: 0;
  font-size: 5vh;
  /* change */
}

.klepa {
  max-width: 25vw;
}

.project-name {

}
