@charset "UTF-8";
/* CSS Document */
body {
	background-color: #BCC4DB;
}

.heading {
	color: white;
}

.activelink {
	color: white;
}

.activelink:hover {
	color: white;
}

.transcription {
	color: black;
}


.contactinfo {
	position: absolute;
	bottom: calc(.5vh + 2px);
	right: 1vh;
}

.contactinfo a, .contactinfo span {
	display: block;
	text-align: right;
	font-size: 4vh;
}

.contactinfo a {
	color: white;
}

.klepa {
	display: block;
}
