@font-face { font-family: "Gotham"; src: url('../fonts/Gotham-Black.otf'); }
@font-face { font-family: "Gotham-Bold"; src: url('../fonts/Gotham-Bold.otf'); }
@font-face { font-family: "Gotham-Medium"; src: url('../fonts/Gotham Medium Regular.ttf'); }
@font-face { font-family: "Gotham-Light"; src: url('../fonts/Gotham-Light.otf'); }
@font-face { font-family: "Gotham book"; src: url("../fonts/Gotham-Book.otf"); }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Gotham book";
  font-size: 2vw;
}

.archive-width {
    width: 81.15vw;
    margin: auto;
}

h3 {
  font-family: "Gotham-Medium";
  font-size: 2.5vw;
  padding-left: .7vw;
  padding-top: .3vw;
}

.intro-text h2 {
  font-family: "Gotham-Bold";
  font-size: 3.5vw;
  padding-top: 3vw;
}

.intro-text p {
  line-height: 150%;
  padding: 3vw 0 3vw 3vw;
}

/*________________________________________________________________
FEATURED PROJECT */

.field.cells {
    background-image: linear-gradient(90deg, rgba(220,220,200,.8) 1.8%, transparent 1.8%),
    linear-gradient(rgba(220,220,200,.8) 1.8%, transparent 1.8%);
    background-size:3vw 3vw;
    padding-bottom: 6vw;
}

.content-featured {
  display: flex;
  margin-top: 3.2vw;
}

/* FEATURED CARD */
.project-card-featured {
  margin-left: 3vw;
  width: 30vw;
  height: 30vw;
  border: 2px solid black;
}

.project-card-featured img {
  margin: 3vw 0 0 3vw;
  width: 30vw;
  height: auto;
  position: absolute;
}

.img-overlay-featured {
  position: absolute;
  height: 30vw;
  width: 30vw;
  margin-top: 3vw;
  margin-left: 3vw;
  background-color: rgba(170, 216, 231, .65);
  border: 3px solid rgba(170, 216, 231, .8);
  display: flex;
}

.img-overlay-featured .project-descr-hover {
  color: white;
  text-decoration: none;
  position: absolute;
  font-family: "Gotham-Medium";
  align-self: center;
  text-align: center;
  display: none;
}

.img-overlay-featured .arrow {
  width: 18vw;
  height: 18vw;
  position: absolute;
  left: -8vw;
  border-right: 1.5vw solid #fff;
  border-bottom: 1.5vw solid #fff;
  transform: rotate(-45deg);
  align-self: center;
  display: none;
  opacity: 0.4;
  -webkit-animation: arrowmove 1.5s infinite;
  animation: arrowmove 1.5s infinite;
}

.img-overlay-featured:hover {
  background-color: rgba(0, 0, 0, .9);
  border: 3px solid black;
}

.img-overlay-featured:hover .project-descr-hover,  .img-overlay-featured:hover .arrow{
  display: block;
}

.project-card-featured:hover ~ .project-plaque-featured{
  background-color: rgba(0, 0, 0, .5);
  border: 3px solid black;
}


/* FEATURED PROJECT PLAQUE */
.project-plaque-featured {
  width: 30.2vw;
  height: 9.3vw;
  margin: 6.05vw 0 0 6vw;
  background-color: rgba(170, 216, 231, .65);
  border: 3px solid rgba(170, 216, 231, .8);
  padding: 1.5vw 1.5vw;
}

.project-plaque-featured span {
  line-height: 150%;
}

.project-plaque-featured .proj-name {
  font-family: "Gotham-Medium";
}

/* TEXT TO THE RIGHT */

.project-descr-featured {
  width: 45vw;
  height: auto;
  padding: 1.5vw 3.4vw 0 6.4vw;
  align-self: flex-start;
  margin-top: -1.5vw;
  line-height: 3vw;
  text-align: justify;
}

.project-descr-featured p {
  margin-bottom: 3vw;
}

/*________________________________________________________________
FILTERS */

.filters {
  margin: 3vw 0;
}

.filters-list {
  display: flex;
  padding: 2vw 0 2vw 3vw;
  flex-wrap: wrap;
}

.filters-list span {
  margin: 1.5vw 2vw 0 0;
}

.filters-list span:first-child {
  font-family: "Gotham-Medium";
  padding-top: .4vw;
}

.filters-list span:not(:first-child){
  border: 2px solid black;
  border-radius: 1vw;
  padding: 0 .5vw;
}

/*________________________________________________________________
REGULAR-FLOW PROJECTS */

.regular-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 6vw;
  padding: 3vw 3vw 0 3vw;
}

.project-card {
  width: 18vw;
  height: 18vw;
  border: 2px solid black;
}

.project-card img {
  margin: 2.9vw 0 0 2.8vw;
  width: 18vw;
  height: auto;
  position: absolute;
}

.img-overlay {
  position: absolute;
  height: 18.2vw;
  width: 18.2vw;
  margin-top: 2.9vw;
  margin-left: 2.9vw;
  display: flex;
  background-color: rgba(195, 225, 221, .65);
  border: 3px solid rgba(195, 225, 221, .8)
}

.img-overlay .project-descr-hover {
  color: white;
  text-decoration: none;
  position: absolute;
  font-family: "Gotham-Medium";
  align-self: center;
  text-align: center;
  display: none;
  font-size: 1.5vw;
}

.img-overlay .arrow {
  width: 10vw;
  height: 10vw;
  position: absolute;
  left: -6vw;
  border-right: 1.2vw solid #fff;
  border-bottom: 1.2vw solid #fff;
  transform: rotate(-45deg);
  align-self: center;
  display: none;
  opacity: 0.4;
  -webkit-animation: arrowmove 1.5s infinite;
  animation: arrowmove 1.5s infinite;
}

.img-overlay:hover {
  background-color: rgba(0, 0, 0, .9);
  border: 3px solid black;
}

.img-overlay:hover .project-descr-hover, .img-overlay:hover .arrow{
  display: block;
}

.project-card:hover ~ .project-plaque{
  background-color: rgba(0, 0, 0, .5);
  border: 3px solid black;
}

/* REGULAR PROJECT PLAQUE */

.project-plaque {
  width: 18.2vw;
  height: 6.1vw;
  margin: 5.9vw 0 6vw 3vw;
  padding: 0.6vw 0 0 1.2vw;
  font-size: 1.4vw;
  background-color: rgba(195, 225, 221, .65);
  border: 3px solid rgba(195, 225, 221, .8);
  line-height: 1.5vw;
}

.project-plaque .proj-name {
  font-family: "Gotham-Medium";
}

/*________________________________________________________________
MOBILE STAFF */
@media only screen and (max-width: 480px){
  .archive-width {
    width: 78.1vw;
    font-size: 4vw;
  }

  .archive-width h3, .archive-width h2 {
    font-size: 4.5vw;
    padding-left: 3vw;
  }

  .intro-text p {
    width: 69vw;
  }

  .field.cells {
      background-image: linear-gradient(90deg, rgba(220,220,200,.8) 5%, transparent 5%),
      linear-gradient(rgba(220,220,200,.8) 5%, transparent 5%);
      background-size:3vw 3vw;
  }

  .featured-grid h3 {
      padding-top: 1vw;
      padding-left: 3vw;
  }

  .content-featured{
    flex-direction: column;
    align-items: center;
    margin-top: 6.2vw;
    margin-right: .2vw;
  }

  .project-card-featured {
    margin: 0;
    width: 57vw;
    height: 57vw;
    border: 1.5px solid black;
  }

  .project-card-featured img, .project-card img {
    width: 57vw;
    height: auto;
  }

  .img-overlay-featured {
    width: 57vw;
    height: 57vw;
    margin-top: 3vw;
    border-width: 2px;
  }

  .project-plaque-featured {
    width: 57vw;
    height: 12vw;
    margin: 6.5vw 0 6vw 3vw;
    padding: 1vw 2vw;
    font-size: 3.5vw;
    border-width: 2px;
  }

  .project-plaque-featured span {
    line-height: 100%;
  }

  .project-descr-featured {
    width: 69vw;
    padding: 0 3vw;
    align-self: auto;
    margin-top: -1.5vw;
    line-height: 6vw;
    text-align: justify;
  }

  /* ________________________________________________________________
   FILTERS */

  .filters-list span {
    margin: 3vw 2vw 0 0;
  }

  .filters-list span:first-child {
    padding-top: 1vw;
  }

  .filters-list span:not(:first-child){
    border: .25vw solid black;
    border-radius: 2vw;
    padding: 0 2vw;
  }

  /* ________________________________________________________________
   REGULAR */

  .regular-grid {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .project-card {
    margin: 0;
    width: 57vw;
    height: 57vw;
    border: 1px solid black;
  }

  .project-card img {
    width: 57vw
    height: auto;
    margin: 2.85vw 0 0 2.82vw;
  }

  .img-overlay {
    width: 57vw;
    height: 57vw;
    margin-top: 3vw;
    border-width: 2px;
  }

  .project-plaque {
    width: 57vw;
    height: 12vw;
    margin: 6vw 0 6vw 3vw;
    padding: 1vw 2vw;
    font-size: 3.5vw;
    border-width: 2px;
    line-height: 4vw;
  }

}



/* ANIMATION */

@-webkit-keyframes arrowmove {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
	  transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(10vw, 10vw);
	  transform: rotate(-45deg) translate(10vw, 10vw);
    opacity: 0;
  }
}
@keyframes arrowmove {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    transform: rotate(-45deg) translate(10vw, 10vw);
    opacity: 0;
  }
}
